img {
    height: 200px;
    width: 200px;
    margin: auto;
    top: 15px;
    display: inline-block;
}
.imgenPokemon{
    border-radius:50%;
    background-color: white;
}
.nombrePokemon
 {
    margin: 0;
    font-weight: 400;
    font:oblique bold 200% cursive;
    

}
.tablaTipos{
    
    right: 500px;
}
h3{
    float: inherit;
    text-align: center;
    width: 80px;
    display: table-cell;
    color:azure;

}
.container {
    height: 370px;
    width: 250px;
    display: inline-block;
    background-color: #75A0E8;
    margin: 10px 100px;
    border: 1px solid #ccc;
    padding: 50px;
    border-collapse: collapse;
	overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
     opacity: 1;
   filter: alpha(opacity=100)
    
}
.container:hover{

    background-color: rgb(74, 193, 42);
}
.boton{
    margin-top:0px ;
    height: 100px;
    width: 100px;

}
.boton:hover {

    height: 150px;
        width: 150px;
}
.normal{background-color: rgb(112, 109, 109);}
.flying{background-color:rgb(113, 79, 235)}
.fighting{background-color: red;}
.poison{background-color: purple;}
.ground{background-color:rgb(99, 67, 45);}
.rock{background-color: rgb(131, 81, 45);}
.bug{background-color: greenyellow;}
.ghost{background-color: rgb(83, 63, 155);}
.steel{background-color: rgb(87, 86, 86);}
.fire{background-color: rgb(226, 72, 17);}
.water{background-color: blue;}
.grass{background-color: green;}
.electric{background-color: yellow;}
.psychic{background-color: rgb(212, 159, 159);}
.ice{background-color: rgb(50, 140, 156);}
.dragon{background-color: rgb(19, 69, 207);}
.dark{background-color: black;}
.fairy{background-color: pink;}
.unknown{background-color: rgb(77, 21, 65);}
.shadow{background-color: black;}